@import "~bootstrap/dist/css/bootstrap.min.css";

body {
    font-family: 'Poor Story', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    background: #24C6DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    }
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
  }
  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-generate {
    border: none;
    padding: 10px 35px;
    border-radius: 10px;
    color: white;
    background-color: #26de81;
    cursor: pointer;
    font-size: 1.5rem;
  }
  .btn-generate:hover {
    color: white;
    background-color: #20bf6b;
    
  }